<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942860456892-bhbehj77p968a1g1ick8h9d821idhc5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942860456892-bhbehj77p968a1g1ick8h9d821idhc5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942860456892-1k9tbamhbdq5g02app5eqc9ljkat524d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAImXeO-ZnuphsIkxj9j6NX-llViKqWew</string>
	<key>GCM_SENDER_ID</key>
	<string>942860456892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.velsco.bly.valscoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deciml-bly</string>
	<key>STORAGE_BUCKET</key>
	<string>deciml-bly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942860456892:ios:b2f96e8d6e7d38e61d51b9</string>
</dict>
</plist>